@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #480b97;
  --accent-color: #8056b8;
  --light-color: #c3a1f0;
}

body {
  font-family: "Jost", sans-serif;
  background-color: whitesmoke;
  color: #000;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.2rem;
  letter-spacing: 3px;
}

/* Loader */
.loader {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loader img {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* Image Container */
.img-container {
  margin: 10px 30%;
}

.img-container img {
  width: 100%;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.3rem;
  }
  .img-container {
    margin: 10px;
  }
}
